*{
  margin: 0;
  padding: 0;
}
.container{
  background-color: black;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.wrapper{
  background-color: #fff;
  width: 600px;
  height: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;

}

img {
  width: 30%;
  
}

h1{
  font-size: 40px;
  font-weight: 600;
  color: #445a6f;
  margin: 40px 0;
}

button{
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #445a6f;
  border: 1px solid #445a6f;
  color: #fff;
  font-size: 18px;
  margin: 30px 0;
}

button:hover{
  background-color: #fff;
  color: #445a6f;
}

p{
  color: rgb(81, 94, 80);
  font-weight:500;
}

a{
  color: #445a6f;
  font-weight: 400;
}
